<div class="jumbotron">
  <h1>Welcome !</h1>
  <p class="lead">
    <img src="images/Conde_Nast.png" alt="Condé Nast Digital France" class="img-responsive"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid  <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Loopback</h4>
  <p>
    Loopback is a professional Node.js API Framework for building fast, robust. You can find more informations here : <a
    href="http://loopback.io" target="_blank">loopback.io</a>
  </p>

  <h4>HTML5 Twitter Bootstrap</h4>
  <p>
    HTML5 Twitter Boostrap is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Yeoman - Angular</h4>
  <p>
    This project is based on Yeoman angular generator. You can find more information (e.g. commands) here :

    <a href="https://github.com/yeoman/generator-angular" target="_blank">Yeoman - Angular</a>
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
